{% extends 'layout.html' %}
{% from 'utils.html' import render_comment, meta %}

{% block head %}
{{ meta() }}
{% endblock %}

{% block title %}
{{ title }} | {{ site.name }}
{% endblock %}

{% block content %}
<div class="article">
    <div class="inner">
        <h2 class="article_title title"><a href="#">{{ title }}</a></h2>
        <div class="article_meta">
            <div class="share">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ author.twitter }}" data-lang="zh-cn">Tweet</a>
            </div>
            <span>on</span>
            {{ date }}
        </div>

        <div class="text">
            <article>
            {{ content }}
            </article>
        </div>
        {% if tags %}
        <div class="big_sep"></div>
        <div class="article_meta">
            <span>tagged:</span>
            {% for tag in tags %}
                <a class="tag" href="{{ url_for(tag) }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
        {% endif %}

        <div class="big_sep"></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        {{ render_comment() }}
    </div>
</div>
{% endblock %}